Source: {{ source-package-name }}
Section: java
Priority: optional
Maintainer: {{ maintainer|safe }}
Uploaders: {{ uploaders|safe }}
Build-Depends:
 debhelper (>= 10),
 javahelper (>= 0.32),{% if maven %}
 maven-debian-helper (>= 2.0),
 libclojure-java,{% if dependencies %},
{{ dependencies }},{% endif %}{% else %}
 maven-repo-helper (>= 1.7),{% endif %}
 default-jdk
Standards-Version: 4.1.3
Vcs-Git: https://salsa.debian.org/clojure-team/{{ source-package-name }}.git
Vcs-Browser: https://salsa.debian.org/clojure-team/{{ source-package-name }}
Homepage: {{ homepage }}

Package: {{ package-name }}
Architecture: all
Depends:
 ${java:Depends},
 ${misc:Depends}{% if maven %},
 ${maven:Depends}{% else %},
 libclojure-java{% if dependencies %},
{{ dependencies }}{% endif %}{% endif %}
Recommends: ${java:Recommends}{% if maven %}
Suggests: ${maven:OptionalDepends}{% endif %}
Description: {{ description }}
